body{
    font-size: 16px;
    background-color: #D2F7FB;
    font-family: 'Oxygen', sans-serif;
}
#header-nav {
    background-color: white;
}

.navbar-brand h1{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 0.5px #ECFCFD;
}
/*Delete hyperlink decoration*/
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.nav-list{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
a,a:hover{
    text-decoration: none;
    color: black;
}
#chicken-tile, #beef-tile, #sushi-tile{
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    border: 2px solid black;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
section{
    text-align: justify;
    font-size: 18px;
    margin: 25px 25px 25px 25px;
    font-weight: normal;
}
.Link a{
    text-decoration: underline;
}

/*style icon
.navbar-header button.navbar.toggler, .navbar-header .navbar-toggler-icon {
    
}
*/