*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
/******Base Style******/
#header{
    margin-top: 20px;
    text-align: center;
    color: #cb997e;
    font-size: 175%;
}
.content {
    width: 100%;
}
section{
    margin : 8% 5% 5% 5%;
    clear: right;
}
p{
    margin-top:0;
    text-align: center; 
    font-weight: bold;  
    font-size: 125%;
    border-bottom: 1px solid black; 
    border-left: 1px solid black;
    width: 35%;
    background-color: #9c9577;
    float: right;
}
.AboutUs, .Program, .ContactUs {
   background-color: #eddcd2;
   border: 1px solid black;
   width: 90%;
   margin-right: auto;
   margin-left: auto;
   margin-top: 20px;
}

/******Large Device Style******/
@media(min-width: 992px) {
    .BoxContent, .BoxContent1{
        float: left;
        width: 33.33%;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .BoxContent{
        float: left;
        width: 50%;
    }
    .BoxContent1{
        float: left;
        width: 100%;
    }
    .ContactUs {
        width: 95%;
    }
}