*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
/******Base Style******/
#header{
    margin-top: 20px;
    text-align: center;
    color: #cb997e;
    font-size: 175%;
}
section{
    float: left;
    margin-top: 20px;
}
p{
    margin-top:0;
    text-align: center; 
    font-weight: bold;  
    font-size: 125%;
    border-bottom: 1px solid black; 
    border-left: 1px solid black;
    width: 35%;
    background-color: #9c9577;
    float: right;
}
#AboutUs{
   background-color: #eddcd2;
   border: 1px solid black;
}
#Program{
    background-color: #eddcd2;
    border: 1px solid  black;
}
#ContactUs{
    background-color: #eddcd2;
    border: 1px solid black;
}
/******Large Device Style******/
@media(min-width: 992px) {
    #AboutUs{
        height: 150px;
        width: 32%;
        margin-left: 1%;
    }
    #Program{
        width: 32%;
        height: 150px;
        margin-left: 1%;
    }
    #ContactUs{
        height: 150px;
        margin-left: 1%;
        width: 32%;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    #AboutUs{
        width: 46%;
        height: 150px;
        margin: 2.5% 1.5% 2.5% 2.5%;
    }
    #Program{
        height: 150px;
        width: 46%;
        margin: 2.5% 2.5%  2.5% 1.5%;
    }
    #ContactUs{
        height: 150px;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    p{ width: 35%;}
}

@media(max-width: 767px) {
    #AboutUs{
        width: 80%;
        height: 150px;
        margin: 5% 5% 5% 5%;
    }
    #Program{
        width: 80%;
        height: 150px;
        margin : 5% 5% 5% 5%;
    }
    #ContactUs{
        width: 80%;
        height: 150px;
        margin-left: 5%;
        margin-right: 5%;
    }
    p{ width: 35%;}
    section{
        float: inherit;
        clear: right;
    }
}